.tp-minimal {
  position: absolute;
  top: 20px;
  right: 40px;
  width: 300px;
  max-height: calc(100vh - 40px);
  overflow: auto;
  z-index: 3;
  --tp-blade-value-width: 160px;
  --btn-bg: #afcea1;
}

.tp-message {
  color: #afcea1;
  font-size: 11px;
  line-height: 1.55;
  padding: 12px 12px;
  white-space: pre-line;
}

.tp-row {
  display: flex;
  gap: 8px;
  width: 100%;
}

.tp-sldv_k::before {
  background-color: #afcea1 !important;
}

.tp-rslv_b::before {
  background-color: #afcea1 !important;
}

.tp-ckbv_i:checked + .tp-ckbv_w svg {
  color: #afcea1 !important;
  fill: none !important;
  stroke: #afcea1 !important;
}

.tp-ckbv_i:checked + .tp-ckbv_w .tp-ckbv_c {
  border-color: #afcea1 !important;
  background-color: #afcea1 !important;
}

.tp-ckbv_i:checked + .tp-ckbv_w svg * {
  fill: none !important;
  stroke: #afcea1 !important;
}

.tp-ckbv_i:checked + .tp-ckbv_w .tp-ckbv_c svg path {
  fill: none !important;
  stroke: #afcea1 !important;
}

.tp-txtv_i,
.tp-numb_i {
  color: #afcea1 !important;
}

.tp-fpsv svg polyline {
  stroke: #afcea1 !important;
  fill: none !important;
}
